.App {
  text-align: center;
}

.Top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-right: 3em;
}

.Top-bar.nurse {
  background: #3CAEA3
}

.Top-bar.doctor {
  background: #20639B;
  color: white;
}

.PatientDetails {
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar.mdc-list {
  width: 15em;
  padding: 0;
}

.mdc-ripple-upgraded.mdc-list-item {
  color: grey;
}

.mdc-ripple-upgraded.mdc-list-item.mdc-list-item--activated {
  color: black;
  background: #F7E88F
}

.Body {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.Content {
  width: 100vw;
}

.NurseContent {
  padding-left: 2em;
  margin: 3em;
}

.mdc-typography--headline4 {
  text-align: left;
}

.Measurements {
  display: flex;
  flex-direction: column;
  width: 30em;
  justify-content: space-around;
}

.Doctor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.BloodPressure {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Break {
  padding: 1em;
}

.AlertDialog {
  display: flex;
  flex-direction: column
}